$light-grey:#E3E3E3;
$purple:#5844A7;
$light-purple:#978EBA;
$black:#282828;
$white:#EFEFEF;

div.wrapper {
	margin:0 auto 100px auto;
	max-width:1123px;
	padding:0 20px;
}

div.clear {
	clear:both;
}

div, p, input, select {
	margin:0;
}

.hover {
	-o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.hide {
	visibility:hidden;
}

//override unwanted browser user agent stylesheet rules
input[type="radio"] {
	-moz-appearance: radio;
	-webkit-appearance : radio;
}

input[type="checkbox"] {
	-moz-appearance: checkbox;
	-webkit-appearance : checkbox;
}
input::placeholder { //fixes safari placeholder text
	line-height:1.1rem;
}
@-moz-document url-prefix() { //fixes firefox placeholder text
    input::placeholder {
    	line-height:50px;
    }
    form#form fieldset div.expanded input:focus::-moz-placeholder {
		color:$light-grey;
	}
}
select {
	-webkit-appearance:none;  /*Removes default chrome and safari style*/
	-moz-appearance:none; /* Removes Default Firefox style*/
	background-image:none;
}

input[type="date"] {
	line-height:50px;
}

// body rules
header {
	height:100px;
	width:100%;

	div.logo {
		height:50px;
		position:relative;
		top:50%;
		left:20px;
		transform:translateY(-50%);
		width:180px;
	}

}

div.wrapper {

	div.intro {
		margin-top:98px;
		max-width:828px;

		button.return {
			border:1px solid $light-purple;
			color:$light-purple;
			outline:none;
			padding:15px 20px;
			margin:30px auto 0 auto;
			@extend .hover;
		}

		button.return:hover {
			background-color:$purple;
			border:1px solid $purple;
			color:white;
		}
	}

	nav	{
		padding-left:0;
	}
}

form#form {
	margin-top:67px;

	div#alert p.alert {
		color:red;
	}

	fieldset {

		div.accordian.first {
			border-radius:5px 5px 0 0;
		}

		div.accordian {
			background-color:$white;
			border:1px solid $white;
			border-bottom:none;
			color:$purple;
			height:65px;
			padding:20px 25px;
			text-align:left;
			width:100%;
		}

		div.accordian.closed {
			background-color:$light-purple;
			border:1px solid $light-purple;
			color:white;
		}

		div.expanded {
			border:1px solid $light-grey;
			border-top:none;
			color:$light-purple;
			padding:20px 25px 40px 25px;

			p.header {
				margin:20px 0 12px 0;
				width:100%;
			}

			p.authorize {
				margin:20px auto 0 auto;
			}

			p.bullet {
				margin:20px auto 0 auto;
				width:98%;
			}

			p.note {
				display:none;
				font-size:0.8rem;
				margin-bottom:20px;
			}

			p.note.disclaimer {
				display:block;
				color:red;
			}

			p.notice {
				display:none;
				font-size:0.8rem;
				margin-bottom:4rem;
			}

			button.next,
			button.previous {
				border:1px solid $light-purple;
				color:$light-purple;
				outline:none;
				padding:15px 40px;
				margin:30px auto 0 auto;
				@extend .hover;
			}

			button.next:hover,
			button.previous:hover {
				background-color:$light-purple;
				color:white;
			}

			button.update {
				border:1px solid $light-grey;
				color:$light-purple;
				outline:none;
				padding:17px;
				margin:0 auto;
				@extend .hover;
			}

			button.update:hover {
				border:1px solid $light-purple;
			}

			input {
				border:1px solid $light-grey;
				border-radius:5px;
				display:inline-block;
				line-height:0px;
				margin:0 20px 20px 0;
				height:50px;
				padding:0 17px;
			}

			select {
				background-color:transparent;
				border:1px solid $light-grey;
				border-radius:5px;
				display:inline-block;
				margin:0 17px 20px 0;
				padding:0 0 0 17px;
				height:52px;

				// option:disabled {
				//     background-color:white;
				// }
			}

			input:focus::-webkit-input-placeholder {
				color:$light-grey;
			}

			input::placeholder,
			select.purple-format {
				color:$light-purple;
				font-weight:300;
			}

			input[type="radio"],
			input[type="checkbox"] {
				background-color:white;
				height:15px;
				width:15px;
			}

			div.invalid,
			input.invalid,
			select.invalid {
				box-shadow: 0 0 3px 1px red;
			}

			input.optional::placeholder {
				color:$light-grey;
			}

			input.hidden {
				display:none;
			}

			//input specific styling (widths)

			input.dependent-names,
			input#applicant-first-name,
			input#applicant-last-name,
			input#spouse-first-name,
			input#spouse-last-name {max-width:170px;}

			input.dependent-MI,
			input#applicant-MI,
			input#spouse-MI {max-width:67px;}

			input.dependent-SSN,
			input#applicant-SSN,
			input#spouse-SSN {max-width:145px;}

			input.dependent-birthday,
			input#applicant-birthday,
			input#spouse-birthday,
			input#applicant-birthday-authorize {max-width:149px;}

    		div.radio {
    			display:inline-block;
    			position:relative;

    			p {
    				float:left;
    			}

    			div.right {
    				float:right;

    				label {
    					color:$light-purple;
    					display:inline-block;
    					margin:0 5px 0 10px;
    				}

    				input {
    					margin:0;
    				}

    			}

    		}

    		select#applicant-gender,
    		select#spouse-gender,
    		select.dependent-gender {width:177px;}

    		input#applicant-address {max-width:370px;}

    		input#applicant-city {max-width:205px;}

    		select#applicant-state {max-width:120px;}

    		input#applicant-zipcode {max-width:108px;}

    		input#applicant-county {max-width:148px;}

    		input#applicant-email {max-width:245px;}

    		input#applicant-home-phone,
    		input#applicant-work-phone {max-width:163px;}

    		select#applicant-marital-status {max-width:161px;}

    		input#applicant-prior-last-name {max-width:185px;}

    		input#applicant-age,
    		input#spouse-age,
    		input.dependent-age {max-width:102px;}

    		input#applicant-height,
    		input#applicant-weight,
    		input#spouse-height,
    		input#spouse-weight,
    		input.dependent-height,
    		input.dependent-weight {max-width:106px;}

    		input#applicant-pcp-first-name,
    		input#applicant-pcp-last-name,
    		input#spouse-pcp-first-name,
    		input#spouse-pcp-last-name,
    		input.dependent-pcp-first-name,
    		input.dependent-pcp-last-name, {max-width:300px;}

    		input#agent-name,
    		input#agent-email {max-width:379px;}
    		input#agent-ID,
    		input#agent-phone {max-width:227px;}
    		input#agent-agency,
    		input#producer-signature {max-width:631px;}
    		input#producer-signature-date {max-width:147px;}

    		input#files {max-width:730px;}

    		div.question {
    			border:1px solid $light-grey;
    			border-radius:5px;
    			padding:25px;
    			height:auto;
    			margin-bottom:30px;
    			min-width:none;

				p {
    				width:75%;
    				float:left;
    			}

				select.question {
					float:right;
					margin:0;
					padding:0 7px;
					width:107px;
					height:25px;
				}
    		}

    		div.radio.spouse,
    		div.radio.agent,
    		div.radio.representative {
    			margin:30px 47px 20px 0;
    		}

    		div.radio.dependents {
    			margin:30px 93px 20px 0;
    		}

    		div.radio.number-input {
    			top:14px;
    			margin-bottom:20px;

    			p {
    				position:relative;
    				transform:translateY(50%);
    				margin-right:27px;
    			}

    			input#num-of-dependents {max-width:97px;}

    		}

    		div#spouse-block,
    		div#dependent-block,
    		div#agent-block {

	    		div.codeBlock {
	    			margin-top:50px;

	    			input {
						border:1px solid $light-grey;
						border-radius:5px;
						display:inline-block;
						line-height:0;
						padding:25px 19px;
					}

					select {
						border:1px solid $light-grey;
						border-radius:5px;
						display:inline-block;
						margin:0 17px 20px 0;
						height:52px;
					}

					div.question {
		    			border:1px solid $light-grey;
		    			border-radius:5px;
		    			padding:25px;
		    			height:auto;
		    			margin-bottom:30px;
		    			min-width:none;

						p {
		    				width:75%;
		    				float:left;
		    			}

						select.question {
							float:right;
							margin:0;
							width:107px;
							height:25px;
						}
		    		}
	    		}
	    	}

    		select#benefit-period-length,
    		select#coverage-plan-type {max-width:283px;}
    		select#coverage-table-select {max-width:470px;}

    		div#coverage-table {
    			

    			table.coverage-table {
    				margin-bottom:40px;
    				max-width:470px;
    				text-align:center;
    				padding-left:50px;

    				tbody {
    					border:none;

    					tr {
	    					border:0.5px solid $light-grey;
	    					@extend .hover;

	    					td {
		    					border:0.5px solid $light-grey;
		    				}
	    				}

	    				tr.selected {
	    					background-color:$purple;
	    					color:white;
	    				}
    				}		
    			}
    		}

    		input#coverage-effective-date {max-width:203px;}

    		div.disclaimer-text,
    		div.non-discrimination-text {
    			border:1px solid $light-grey;
    			height:310px;
    			margin-bottom:30px;
    			overflow:scroll;

    			p {
    				color:$black;
    				font-size:12px;
    				margin:5px auto 0 auto;
					width:98%;
    			}

    			p.bullet {
					margin:5px auto 0 auto;
					width:95%;
				}

				ul {

					li {
						color:$black;
	    				font-size:12px;
	    				margin:0px 0;
						width:98%;
						list-style-type:none;
					}
				}
    		}

    		input#applicant-agreement-signature,
    		input#spouse-agreement-signature,
    		input.dependent-signature,
    		input#spouse-authorization-signature,
    		input#dependent-authorization-signature,
    		input#applicant-authorization-signature,
    		input#applicant-full-name {max-width:610px;}

			input#applicant-full-name,
			input#applicant-authorization-signature {margin-top:30px;}

    		input#applicant-agreement-signature-date,
    		input#spouse-agreement-signature-date,
    		input.dependent-signature-date,
    		input#spouse-authorization-signature-date,
    		input#dependent-authorization-signature-date,
    		input#applicant-authorization-signature-date {max-width:147px;}

    		input#applicant-relationship,
    		input#applicant-full-address {max-width:781px;}

    		div.agree {
    			max-width:991px;

    			input[type="checkbox"] {
    				margin:0 10px 0 0;
    			}

    			label {
    				color:$light-purple;
    				margin-top:20px;
    				margin-bottom:40px;
    				-webkit-user-select: none;  /* Chrome all / Safari all */
  					-moz-user-select: none;     /* Firefox all */
  					-ms-user-select: none;      /* IE 10+ */
  					user-select: none; 
    			}
    		}
    		div.g-recaptcha {
    			margin-top:30px;
    		}
		}

		div.expanded.last {
			border-radius:0 0 5px 5px;

			div.g-recaptcha {
				max-width:50px;
			}

		}
	}

	input#files {margin-top:30px;}
	select#final-download {max-width:500px;}

	input#submit {
		background-color:$light-purple;
		border:none;
		border-radius:5px;
		color:white;
		margin-top:40px;
		padding:15px 40px;
		@extend .hover;
		-webkit-appearance: button;
	}

	input#submit:hover {
		background-color:$purple;
	}
}

// mobile rules----------------------------
@media only screen and (max-width:1124px) {
	input#applicant-pcp-first-name {

	}
}

@media only screen and (max-width:470px) {
	body div.wrapper.mobile {
		padding:0;
	}
	body div.wrapper form#form fieldset div.expanded {
		// Applicant
		input#applicant-last-name,
		input#applicant-SSN,
		input#applicant-birthday,
		select#applicant-gender,
		input#applicant-address,
		input#applicant-city,
		input#applicant-county,
		input#applicant-email,
		input#applicant-main-phone,
		input#applicant-work-phone,
		select#applicant-marital-status,
		input#applicant-prior-last-name,
		input#applicant-weight,
		input#applicant-pcp-first-name,
		input#applicant-pcp-last-name
		//spouse / dependent
		input#spouse-last-name,
		input#spouse-SSN,
		input#spouse-birthday,
		select#spouse-gender,
		input#spouse-weight,
		input#spouse-pcp-first-name,
		input#spouse-pcp-last-name,
		input#dependent-last-name,
		input#dependent-SSN,
		input#dependent-birthday,
		select#dependent-gender,
		input#dependent-weight,
		input#dependent-pcp-first-name,
		input#dependent-pcp-last-name, {
			max-width:100%;
		}
		div.radio div.right {
			float:none;

			label {
				margin:20px 5px 0 0px;
			}

			input {
				margin:0 20px 0 0;
			}
		}
	}
	body form#form fieldset div.expanded div#num-of-dependents-block div.codeBlock {
		input#num-of-dependents {
			margin-top:20px;
		}
	}

	body form#form fieldset div.expanded div.question,
	body form#form fieldset div.expanded div#spouse-block div.codeBlock div.question,
	body form#form fieldset div.expanded div#dependent-block div.codeBlock div.question {
		max-width:100%;

		p {
			width:100%;
		}

		select.question {
			float:none;
			margin-top:20px;
		}

	}
}





















